@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

html,body{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: white;
  background-size: 500% 500%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: -o-linear-gradient(
              315deg,
              #000039 0%,
              #310039 29%,
              #630039 67%,
              #940039 100%);
          background-image: linear-gradient(
              -225deg,
              #000039 0%,
              #310039 29%,
              #630039 67%,
              #940039 100%);
          -webkit-animation: change_bg 15s linear infinite;
                  animation: change_bg 15s linear infinite;
      }
      @-webkit-keyframes change_bg{
          50%{
              background-position: 100% 100%;
          }
      }
      @keyframes change_bg{
          50%{
              background-position: 100% 100%;
          }
      }


#Greet{
    width: 100vw;
    height: 100vh;
    display: flex;
    animation: ease-out slideLeftToRight .5s;
}

@keyframes slideLeftToRight{
  0%{
    transform: translate(30%);
    opacity: 0;
  }
  100%{
    transform: translate(0%);
    opacity: 1;
  }
}

#welcome h1{
    padding: 0px;
    margin: 0px;
    font-family: Rubik;
    color: #fff;
    font-size: 100px;
}

p{
  padding: 0;
  padding-bottom: 15px;
  margin: 0px;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
  color: #FFD300;
}

#welcome{
  padding: 30px;
  margin: auto;
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  border-style: solid;
  box-shadow: 0 0 10px #00b3ff,
              0 0 20px #00b3ff,
              0 0 30px #00b3ff;
  border-color: #fff;
  border-radius: 15px;
  align-self: center;
  align-items: center;
}

#cpustart{
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  margin-right: 15px;
  position: relative;
  background: linear-gradient(90deg,#03a9f4,#f441a5, #ffeb3b, #03a9f4);
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  border-radius: 25px;
  color: #fff;
  background-size: 400%;
  z-index: 1;
}

#cpustart:hover{
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

#cpustart:before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 25px;
}

#cpustart:hover:before{
  filter: blur(15px);
  opacity: 1;
  animation: animate 3s linear infinite;
}
